.navbar{
    margin-bottom: 75px;
}
#hover:hover{
    background-color: rgb(50, 53, 53);
}

.footer{
    clear: both;
    position: relative;
    height: 700px;
  
    

} 
body {
    min-height: 100vh;
}