.navbar{
    margin-bottom: 75px;
}
#hover:hover{
    background-color: rgb(50, 53, 53);
}

p {
    line-height: 1.5;
}    
 

.footer{
    clear: both;
    position: relative;
    height: 700px;
  
} 

